.img-section{
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.5px solid white;
background-color: aliceblue;
}
.box{
  
  height: 400px;
  background-color: white;
  padding: 20px 0px 15px;
  margin: 35px;
  margin-top: 29px solid white;
  border-radius: 5%;
  background-size: cover;
  border: none;
  

}
.box3{
  
  height: 500px;
  background-color: white;
  padding: 20px 0px 15px;
  margin: 35px;
  margin-top: 29px solid white;
  border-radius: 5%;
  background-size: cover;
  border: none;
  


}
.box:hover{

  border: 3px solid #222f229e;
}
.box3:hover{

  border: 3px solid #222f229e;
}
.box-img{
  height: 300px;
  width: 350px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
 
}
.box-img1{
  height: 400px;
  width: 350px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
 
}

.box-content{
  margin-left: 1rem;
  margin-right: 1rem;
}
h2{
  text-align: center;
}